body {
    background-color: #FCFDF4; /* Color de fondo */
    color: #1A2130;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    background-color: #83B4FF; /* Color del encabezado */
    padding: 20px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
}

.header h1 {
    margin: 0;
    font-size: 2em;
    color: #1A2130;
}

.main-content {
    background-color: #D6E3F3; /* Color del contenido principal */
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    max-width: 800px;
    width: 90%;
    margin: auto;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.menu-item {
    background-color: #5A72A0; /* Color del fondo de los botones */
    color: #FDFFE2;
    padding: 40px;
    border-radius: 15px;
    text-decoration: none;
    width: 200px;
    height: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    cursor: pointer;
}

.menu-item-admin {
    background-color: #1A2130; /* Color para botones solo de admin */
}

.menu-item:hover {
    background-color: #7C8AA6;
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.menu-item-admin:hover {
    background-color: #434A54;
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
    .main-content {
        padding: 20px 10px;
    }

    .menu-item, .menu-item-admin {
        width: 100%;
        height: auto;
        padding: 20px;
    }
}
